/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    border-bottom: 1px solid #eaeaea;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: 0.2s;
}

.nav-links a:hover {
    color: black;
}

.cart i {
    font-size: 20px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    max-width: 600px;
    margin: 120px 0 0 260px;
}

.hero h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 15px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 30px;
}

.cta-btn {
    display: inline-block;
    padding: 12px 26px;
    background: black;
    color: white;
    text-decoration: none;
    font-size: 15px;
    border-radius: 3px;
    transition: 0.2s ease;
}

.cta-btn:hover {
    opacity: 0.8;
}

.featured-products {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.title-row h2 {
    font-size: 22px;
    font-weight: 600;
}

.product-count {
    color: #777;
    text-decoration: none;
    font-size: 14px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.2s ease;
}

.product-card img {
    width: 100%;
    height: 320px;
    object-fit: contain
}

.product-card:hover {
    transform: translateY(-4px);
}

.info {
    padding: 20px;
}

.category {
    font-size: 12px;
    color: #777;
    text-transform: uppercase;
}

.info h3 {
    margin: 5px 0 10px;
    font-size: 18px;
}

.price {
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
}

.add-btn {
    background: black;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s ease;
}

.add-btn:hover {
    opacity: 0.8;
}
