<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>GameGear</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="logo">GAMEGEAR</div>
        <ul class="nav-links">
            <li><a href="#">Produkter</a></li>
            <li><a href="#">Kategorier</a></li>
            <li><a href="#">Om oss</a></li>
        </ul>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </nav>

    <!-- HERO SECTION -->
    <section class="hero">
        <h1>Premium Gaming-Utstyr</h1>
        <p>
            Løft spillopplevelsen din med vårt nøye kuraterte utvalg av høyytelsesperiferi og tilbehør for 
            seriøse gamere.
        </p>
        <a href="#" class="cta-btn">Handle nå</a>
    </section>

<section class="featured-products">
    <div class="title-row">
        <h2>Utvalgte Produkter</h2>
        <a href="/produkter" class="product-count">6 produkter</a>
    </div>

    <div class="product-grid">

        <!-- Produkt 1 -->
        <div class="product-card">
            <img src="/frontend/static/bilder/PC_Core.png" alt="GameGear-PC">

            <div class="info">
                <span class="category">PREBUILT</span>
                <h3>GameGear-PC Core Gaming i55</h3>
                <span class="price">11 499 kr</span>

                <button class="add-btn">
                    <span class="icon">🛒</span> Legg til
                </button>
            </div>
        </div>

        <!-- Produkt 2 -->
        <div class="product-card    ">
            <img src="/static/bilder/mus.jpg" alt="Presisjons Gaming Mus">

            <div class="info">
                <span class="category">MUS</span>
                <h3>Presisjons Gaming Mus</h3>
                <span class="price">799 kr</span>

                <button class="add-btn">
                    <span class="icon">🛒</span> Legg til
                </button>
            </div>
        </div>

        <!-- Produkt 3 -->
        <div class="product-card">
            <img src="/static/bilder/headset.jpg" alt="Trådløst Gaming Headset">

            <div class="info">
                <span class="category">LYD</span>
                <h3>Trådløst Gaming Headset</h3>
                <span class="price">1999 kr</span>

                <button class="add-btn">
                    <span class="icon">🛒</span> Legg til
                </button>
            </div>
        </div>
    </div>
</section>

</body>
</html>